*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.madeira{
    width: 98vw;
    height: 98vh;
}
.iphone, .tela-home{
    position: absolute;
}
.tela-home{
    width: 268px;
    margin-top:5px;
    border-radius: 5px;
}



